extends layout
block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-teal
                h3 Gestão de Alunos
            .w3-container
                ul.w3-ul
                    li
                        a(href='/registar') Registo de Alunos
                    li
                        a(href='/listar') Lista de Alunos    
            footer.w3-container.w3-teal
                address Gerado por FormApp